// ngtoast default style
@keyframes ngtoast-fadein
  0%
    opacity 0
  100%
    opacity 1
@keyframes ngtoast-fadeout
  0%
    opacity 1
  100%
    opacity 0

.ngtoast-default
  opacity 0
  &.ngtoast-opening
    animation ngtoast-fadein 0.5s
  &.ngtoast-open
    opacity 1
  &.ngtoast-closing
    animation ngtoast-fadeout 0.5s
