high = 40px
low = 0px

button
  display block
  margin 10px 0

.ngtoast-default
  border 1px solid #000
  border-radius 10px
  background-color #fff
  width 200px
  height 50px
  position fixed
  top 150px
  right 0
  left 0
  margin auto
  padding 10px

.ngtoast-fly
  &.ngtoast-opening
    animation ngtoast-flyin 0.3s
  &.ngtoast-open
    transform translateY(low)
    opacity 1
  &.ngtoast-closing
    animation ngtoast-flyout 0.5s
    transform translateX(low)

.ngtoast-notice
  top 0
  right 0
  left auto
  margin 0
  transform translateY(low)
  &.ngtoast-opening
    animation ngtoast-flyin-right 0.4s
  &.ngtoast-open
    opacity 1
    transform translate(low,high)
  &.ngtoast-closing
    animation ngtoast-flyout-top 0.5s
    transform translateX(low)

.ngtoast-notice--info
  background-color #ccf

.ngtoast-notice--alert
  background-color #fcc

@keyframes lifemeter-anim
  0%
    width 100px
  99.9%
    width 0

.ngtoast-hover
  background-color #fcc
  .lifemeter
    background-color #f00
    width 100px
    height 10px
  &.ngtoast-open
    .lifemeter
      animation lifemeter-anim linear 4s
  &.ngtoast-closing
    .lifemeter
      width 0
  &:hover
    background-color #cfc
    cursor pointer
    .lifemeter
      width 100px
      animation none

.ngtoast-multi
  text-align center
  transform translateY(low)
  border none
  & div
    border 1px solid #000
    border-radius 4px
    margin-bottom 10px
    height 30px
    &:first-child
      opacity 0
      transition all .3s ease 0s
      transform translateY(0px)
    &:nth-child(2)
      opacity 0
      transition all .3s ease .1s
      transform translateY(0px)
    &:nth-child(3)
      opacity 0
      transition all .3s ease .2s
      transform translateY(0px)

  &.ngtoast-opening
    & div:first-child
      transform translateY(-50px)
      opacity 1
    & div:nth-child(2)
      transform translateY(-50px)
      opacity 1
    & div:nth-child(3)
      transform translateY(-50px)
      opacity 1

  &.ngtoast-open
    & div
      transform translateY(-50px)
      &:first-child
        opacity 1
      &:nth-child(2)
        opacity 1
      &:nth-child(3)
        opacity 1

  &.ngtoast-closing
    & div
      &:first-child
        transition all .3s ease .2s
        opacity 0
      &:nth-child(2)
        transition all .3s ease .1s
        opacity 0
      &:nth-child(3)
        transition all .3s ease
        opacity 0

