// ngtoast default style
high = 40px
low = 0px

 @keyframes ngtoast-flyin
   0%
     opacity 0
     transform translateY(high)
   100%
     opacity 1
     transform translateY(low)

@keyframes ngtoast-flyout
  0%
    opacity 1
    transform translateY(low)
  100%
    opacity 0
    transform translateY(high)
@keyframes ngtoast-flyin-top
  0%
    opacity 0
    transform translateY(low)
  100%
    opacity 1
    transform translateY(high)
@keyframes ngtoast-flyin-right
  0%
    opacity 0
    transform translate(high, high)
  100%
    opacity 1
    transform translate(low, high)
@keyframes ngtoast-flyout-top
  0%
    opacity 1
    transform translateY(high)
  100%
    opacity 0
    transform translateY(low)

@keyframes ngtoast-fadein
  0%
    opacity 0
  100%
    opacity 1
@keyframes ngtoast-fadeout
  0%
    opacity 1
  100%
    opacity 0

.ngtoast-default
  background-color #eff
  border 1px solid #000
  color #000
  width 200px
  height 50px
  position fixed
  top 150px
  right 0
  left 0
  padding 10px
  transform translateY(high)
  margin auto
  border-radius 10px
  &:hover
    background-color #cff
.ngtoast-opening
  animation ngtoast-flyin 0.5s
.ngtoast-open
  transform translateY(low)

.ngtoast-closing
  transform translateY(low)
  animation ngtoast-fadeout 0.5s
.ngtoast-closing-flyout
  animation ngtoast-flyout 0.5s

.ngtoast-notice
  background-color #3ff
  border 1px solid #000
  color #000
  width 100px
  height 50px
  position fixed
  top 0
  right 0
  transform translateY(low)
  border-radius 10px
  padding 10px

.ngtoast-info-opening
  animation ngtoast-flyin-right 0.22s
.ngtoast-info-open
  transform translate(low,high)
.ngtoast-info-closing
  animation ngtoast-flyout-top 0.5s
  transform translateX(low)

.alert 
  background-color #f88
.info
  background-color #3ff

